# Audio files
resources/assets/*.mp3
resources/assets/*.wav

# Log files
src/logs/
src/logs/*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/
*.swp

# Environment
venv/
env/
.env
